@import "config";
@import "menu";

* {
  box-sizing: border-box;
}
body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// heading
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;

  &.lg-heading {
    margin-top: 20vh;
    font-size: 6rem;
  }
  &.chinese-name {
    font-size: 4rem;
    font-family: "sun_yat-sen_hsingshuregular";
  }
}

.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem, 1rem;
}
.sm-heading-text {
  background: rgba(lighten($primary-color, 2), 0.5);
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 0 4rem 2rem 4rem;
  //height: 100%;
  //min-height: calc(100vh-60px);
  min-height: 95vh;

  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
  }
}

#about-lg-heading {
  margin-top: 0;
  font-size: 6rem;
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bio-img bio bio"
    "job-1 job-2 job-3";
  grid-template-columns: repeat(3, 1fr);
}

.bio-img {
  grid-area: bio-img;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job-1 {
  grid-area: job-1;
}

.job-2 {
  grid-area: job-2;
}

.job-3 {
  grid-area: job-3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5rem;
  border-bottom: $secondary-color 5px solid;
}

// work project
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    height: 250px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    //border: 3px set-text-color($primary-color) solid;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// contact page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px set-text-color($primary-color) solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// single visusal page
.visual-container {
  margin: 10vh 0 0 0;
  padding: 0;
  //margin-top: 10vh;
  min-width: 800px;
}

// button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3 rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: set-text-color($primary-color);
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: set-text-color($secondary-color);
}

#main-footer {
  text-align: center;
  padding: 1vh 0;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 5vh;
}

@import "mobile";
